<footer class="footer">
	<!-- Please select "design by growldesign" if you leave the design as is or "inspired by growldesign" if you make any changes. -->
	<!-- It is not an imperitive that you leave a link to my site but I would appreciate it -->  
	<p>Copyright &copy; 2006 Company. All Rights Reserved. </p>
</footer>
