<header class="header">
        <div>
		    <ul>
			    <li><%= link_to "Home",    root_path %></li>
			    <li><%= link_to "Help",    help_path %></li>
			    <li><%= link_to "About",   about_path %></li>
			    <li><%= link_to "Contact", contact_path %></li>
            </ul>
            <h1>IConsult</h1>
	    </div>
</header>    

