<div id="header">
        <div>
		    <ul>
			    <li><a href="#idea" class="on">home</a></li>
                <li><a href="#code">work detail</a></li>
                <li><a href="#author">projects</a></li>
                <li><a href="#contact">expenses</a></li>
                <li><a href="#contact">accounting</a></li>
                <li><a href="#contact">other</a></li>
            </ul>
            <h1><a href="#">I Consult</a></h1>
	    </div>
</div>    

