<header id="header" class="header">
        <div>
		    <ul>
			    <li><%= link_to "Home",    '#' %></li>
			    <li><%= link_to "Help",    '#' %></li>
			    
            </ul>
	    </div>
</header>    

