<header class="header">
        <div>
		    <ul>
			    <li><%= link_to "Home",    '#' %></li>
			    <li><%= link_to "Help",    '#' %></li>
			    
            </ul>
            <h1>IConsult</h1>
	    </div>
</header>    

